@model Samachar.Domain.Category
@{
    ViewBag.Title = "Add Category";
}
<div class="card">
    <form class="form-horizontal" asp-action="Create" novalidate asp-antiforgery="true" enctype="multipart/form-data" method="post">
        <div class="card-header">
            Category
        </div>
        <div class="card-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <div class="col">
                    <label class="form-col-form-label" asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col">
                    <label class="form-col-form-label" asp-for="Image.Picture"></label>
                    <input asp-for="Image.Picture" class="form-control" type="file" />
                    <span asp-validation-for="Image.Picture" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label class="form-col-form-label" asp-for="IsActive"></label><br />
                    <input asp-for="IsActive" type="checkbox" checked />
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                </div>
                <div class="col">
                    <label class="form-col-form-label" asp-for="Sequence"></label>
                    <input asp-for="Sequence" class="form-control" type="number" />
                    <span asp-validation-for="Sequence" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-primary" type="submit">Submit</button>
            <button class="btn btn-sm btn-danger" type="reset">Reset</button>
        </div>
    </form>
</div>
@section BreadCrum{
    <li class="breadcrumb-item active">Category</li>
}