@model Samachar.Domain.Article
@{
    ViewBag.Title = "Add Article";
}
<div class="card">
    <div class="card-header">
        Article
    </div>
    <div class="card-body">
        <p>Fuck</p>
    </div>
</div>
@section Stylesheets{
    <link rel="stylesheet" src="/lib/jqueryui/jquery-ui.css" />
}
@section Scripts{
}
