.vs/
.vscode/
src/DbProvider/Samachar.Data.PostgreSQL/bin/
src/DbProvider/Samachar.Data.PostgreSQL/obj/
src/DbProvider/Samachar.Data.MSSQL/bin/
src/DbProvider/Samachar.Data.MSSQL/obj/
src/DbProvider/Samachar.Data.SqlServer/bin/
src/DbProvider/Samachar.Data.SqlServer/obj/
src/Samachar.API/bin/
src/Samachar.API/obj/
src/Samachar.Domain/bin/
src/Samachar.Domain/obj/
src/Samachar.Core/bin/
src/Samachar.Core/obj/
src/Samachar.Repository/bin/
src/Samachar.Repository/obj/
src/Samachar.Service/bin/
src/Samachar.Service/obj/
src/Samachar/bin/
src/Samachar/obj/
src/Samachar.Core/bin/
src/Samachar.Core/obj/
tests/UnitTesting/Samachar.Service.Tests/bin/
tests/UnitTesting/Samachar.Service.Tests/obj/
