<div class="post_gallary_area fifth_bg mb40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="slider_demo2">
                            <div class="single_post post_type6 xs-mb30">
                                <div class="post_img gradient1">
                                    <img src="~/Themes/Newspark/assets/img/header/sider-top.jpg" alt=""> <span class="tranding">
                                        <i class="fas fa-play"></i>
                                    </span>
                                </div>
                                <div class="single_post_text">
                                    <div class="meta meta_separator1">
                                        <a href="#">TECHNOLOGY</a>
                                        <a href="#">March 26, 2020</a>
                                    </div>
                                    <h4><a class="play_btn" href="video_post1.html">Japan’s virus success has puzzled the world. Is its luck running out?</a></h4>
                                    <div class="space-10"></div>
                                    <p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
                                </div>
                            </div>
                            <div class="single_post post_type6 xs-mb30">
                                <div class="post_img gradient1">
                                    <img src="~/Themes/Newspark/assets/img/header/sider-top2.jpg" alt=""> <span class="tranding">
                                        <i class="fas fa-play"></i>
                                    </span>
                                </div>
                                <div class="single_post_text">
                                    <div class="meta meta_separator1">
                                        <a href="#">TECHNOLOGY</a>
                                        <a href="#">March 26, 2020</a>
                                    </div>
                                    <h4><a class="play_btn" href="video_post1.html">Copa America: Luis Suarez from devastated US America</a></h4>
                                    <div class="space-10"></div>
                                    <p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
                                </div>
                            </div>
                            <div class="single_post post_type6 xs-mb30">
                                <div class="post_img gradient1">
                                    <img src="~/Themes/Newspark/assets/img/header/sider-top.jpg" alt=""> <span class="tranding">
                                        <i class="fas fa-play"></i>
                                    </span>
                                </div>
                                <div class="single_post_text">
                                    <div class="meta meta_separator1">
                                        <a href="#">TECHNOLOGY</a>
                                        <a href="#">March 26, 2020</a>
                                    </div>
                                    <h4><a class="play_btn" href="video_post1.html">Copa America: Luis Suarez from devastated US America</a></h4>
                                    <div class="space-10"></div>
                                    <p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
                                </div>
                            </div>
                            <div class="single_post post_type6 xs-mb30">
                                <div class="post_img gradient1">
                                    <img src="~/Themes/Newspark/assets/img/header/sider-top2.jpg" alt=""> <span class="tranding">
                                        <i class="fas fa-play"></i>
                                    </span>
                                </div>
                                <div class="single_post_text">
                                    <div class="meta meta_separator1">
                                        <a href="#">TECHNOLOGY</a>
                                        <a href="#">March 26, 2020</a>
                                    </div>
                                    <h4><a class="play_btn" href="video_post1.html">Japan’s virus success has puzzled the world. Is its luck running out?</a></h4>
                                    <div class="space-10"></div>
                                    <p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
                                </div>
                            </div>
                            <div class="single_post post_type6 xs-mb30">
                                <div class="post_img gradient1">
                                    <img src="~/Themes/Newspark/assets/img/header/sider-top.jpg" alt=""> <span class="tranding">
                                        <i class="fas fa-play"></i>
                                    </span>
                                </div>
                                <div class="single_post_text">
                                    <div class="meta meta_separator1">
                                        <a href="#">TECHNOLOGY</a>
                                        <a href="#">March 26, 2020</a>
                                    </div>
                                    <h4><a class="play_btn" href="video_post1.html">Copa America: Luis Suarez from devastated US America</a></h4>
                                    <div class="space-10"></div>
                                    <p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
                                </div>
                            </div>
                            <div class="single_post post_type6 xs-mb30">
                                <div class="post_img gradient1">
                                    <img src="~/Themes/Newspark/assets/img/header/sider-top2.jpg" alt=""> <span class="tranding">
                                        <i class="fas fa-play"></i>
                                    </span>
                                </div>
                                <div class="single_post_text">
                                    <div class="meta meta_separator1">
                                        <a href="#">TECHNOLOGY</a>
                                        <a href="#">March 26, 2020</a>
                                    </div>
                                    <h4><a class="play_btn" href="video_post1.html">Japan’s virus success has puzzled the world. Is its luck running out?</a></h4>
                                    <div class="space-10"></div>
                                    <p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
                                </div>
                            </div>
                            <div class="single_post post_type6 xs-mb30">
                                <div class="post_img gradient1">
                                    <img src="~/Themes/Newspark/assets/img/header/sider-top.jpg" alt=""> <span class="tranding">
                                        <i class="fas fa-play"></i>
                                    </span>
                                </div>
                                <div class="single_post_text">
                                    <div class="meta meta_separator1">
                                        <a href="#">TECHNOLOGY</a>
                                        <a href="#">March 26, 2020</a>
                                    </div>
                                    <h4><a class="play_btn" href="video_post1.html">Copa America: Luis Suarez from devastated US America</a></h4>
                                    <div class="space-10"></div>
                                    <p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
                                </div>
                            </div>
                            <div class="single_post post_type6 xs-mb30">
                                <div class="post_img gradient1">
                                    <img src="~/Themes/Newspark/assets/img/header/sider-top2.jpg" alt=""> <span class="tranding">
                                        <i class="fas fa-play"></i>
                                    </span>
                                </div>
                                <div class="single_post_text">
                                    <div class="meta meta_separator1">
                                        <a href="#">TECHNOLOGY</a>
                                        <a href="#">March 26, 2020</a>
                                    </div>
                                    <h4><a class="play_btn" href="video_post1.html">Japan’s virus success has puzzled the world. Is its luck running out?</a></h4>
                                    <div class="space-10"></div>
                                    <p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
                                </div>
                            </div>
                            <div class="single_post post_type6 xs-mb30">
                                <div class="post_img gradient1">
                                    <img src="~/Themes/Newspark/assets/img/header/sider-top2.jpg" alt=""> <span class="tranding">
                                        <i class="fas fa-play"></i>
                                    </span>
                                </div>
                                <div class="single_post_text">
                                    <div class="meta meta_separator1">
                                        <a href="#">TECHNOLOGY</a>
                                        <a href="#">March 26, 2020</a>
                                    </div>
                                    <h4><a class="play_btn" href="video_post1.html">Copa America: Luis Suarez from devastated US America</a></h4>
                                    <div class="space-10"></div>
                                    <p class="post-p">The property, complete with 30-seat screening from room, a 100-seat amphitheater and a swimming pond with sandy shower…</p>
                                </div>
                            </div>
                        </div>
                        <div class="slider_demo1">
                            <div class="single_gallary_item">
                                <img src="~/Themes/Newspark/assets/img/blog/post_gsi1.jpg" alt="image">
                            </div>
                            <div class="single_gallary_item">
                                <img src="~/Themes/Newspark/assets/img/blog/post_gsi2.jpg" alt="image">
                            </div>
                            <div class="single_gallary_item">
                                <img src="~/Themes/Newspark/assets/img/blog/post_gsi3.jpg" alt="image">
                            </div>
                            <div class="single_gallary_item">
                                <img src="~/Themes/Newspark/assets/img/blog/post_gsi4.jpg" alt="image">
                            </div>
                            <div class="single_gallary_item">
                                <img src="~/Themes/Newspark/assets/img/blog/post_gsi5.jpg" alt="image">
                            </div>
                            <div class="single_gallary_item">
                                <img src="~/Themes/Newspark/assets/img/blog/post_gsi6.jpg" alt="image">
                            </div>
                            <div class="single_gallary_item">
                                <img src="~/Themes/Newspark/assets/img/blog/post_gsi7.jpg" alt="image">
                            </div>
                            <div class="single_gallary_item">
                                <img src="~/Themes/Newspark/assets/img/blog/post_gsi4.jpg" alt="">
                            </div>
                            <div class="single_gallary_item">
                                <img src="~/Themes/Newspark/assets/img/blog/post_gsi3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="widget_tab md-mt-30">
                            <ul class="nav nav-tabs">
                                <li>
                                    <a class="active" data-toggle="tab" href="#post1">ख्यातिप्राप्त</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#post2">भर्खर</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#post3">विचार</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="post1" class="tab-pane fade show in active">
                                    <div class="widget tab_widgets mb30">
                                        <div class="single_post widgets_small">
                                            <div class="post_img">
                                                <div class="img_wrap">
                                                    <a href="#">
                                                        <img src="~/Themes/Newspark/assets/img/header/widget/tab1.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="single_post_text">
                                                <div class="meta2 meta_separator1">
                                                    <a href="#">TECHNOLOGY</a>
                                                    <a href="#">March 26, 2020</a>
                                                </div>
                                                <h4><a href="post1.html">Copa America: Luis Suarez from devastated US</a></h4>
                                            </div>
                                        </div>
                                        <div class="space-15"></div>
                                        <div class="border_black"></div>
                                        <div class="space-15"></div>
                                        <div class="single_post widgets_small">
                                            <div class="post_img">
                                                <div class="img_wrap">
                                                    <a href="#">
                                                        <img src="~/Themes/Newspark/assets/img/header/widget/tab2.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="single_post_text">
                                                <div class="meta2 meta_separator1">
                                                    <a href="#">TECHNOLOGY</a>
                                                    <a href="#">March 26, 2020</a>
                                                </div>
                                                <h4><a href="post1.html">Nancy Zhang a Chinese busy woman and Dhaka</a></h4>
                                            </div>
                                        </div>
                                        <div class="space-15"></div>
                                        <div class="border_black"></div>
                                        <div class="space-15"></div>
                                        <div class="single_post widgets_small">
                                            <div class="post_img">
                                                <div class="img_wrap">
                                                    <a href="#">
                                                        <img src="~/Themes/Newspark/assets/img/header/widget/tab3.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="single_post_text">
                                                <div class="meta2 meta_separator1">
                                                    <a href="#">TECHNOLOGY</a>
                                                    <a href="#">March 26, 2020</a>
                                                </div>
                                                <h4><a href="post1.html">U.S. Response subash says he will label regions by risk of…</a></h4>
                                            </div>
                                        </div>
                                        <div class="space-15"></div>
                                        <div class="border_black"></div>
                                        <div class="space-15"></div>
                                        <div class="single_post widgets_small">
                                            <div class="post_img">
                                                <div class="img_wrap">
                                                    <a href="#">
                                                        <img src="~/Themes/Newspark/assets/img/header/widget/tab4.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="single_post_text">
                                                <div class="meta2 meta_separator1">
                                                    <a href="#">TECHNOLOGY</a>
                                                    <a href="#">March 26, 2020</a>
                                                </div>
                                                <h4><a href="post1.html">Venezuela elan govt and opposit the property collect</a></h4>
                                            </div>
                                        </div>
                                        <div class="space-15 ldnane"></div>
                                        <div class="border_black ldnane"></div>
                                        <div class="space-15 ldnane"></div>
                                        <div class="single_post widgets_small ldnane">
                                            <div class="post_img">
                                                <div class="img_wrap">
                                                    <a href="#">
                                                        <img src="~/Themes/Newspark/assets/img/header/widget/tab5.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="single_post_text">
                                                <div class="meta2 meta_separator1">
                                                    <a href="#">TECHNOLOGY</a>
                                                    <a href="#">March 26, 2020</a>
                                                </div>
                                                <h4><a href="post1.html">Cheap smartphone sensor could help you old food safe</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="post2" class="tab-pane fade">
                                    <div class="widget tab_widgets mb30">
                                        <div class="single_post widgets_small">
                                            <div class="post_img">
                                                <div class="img_wrap">
                                                    <a href="#">
                                                        <img src="~/Themes/Newspark/assets/img/header/widget/tab1.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="single_post_text">
                                                <div class="meta2 meta_separator1">
                                                    <a href="#">TECHNOLOGY</a>
                                                    <a href="#">March 26, 2020</a>
                                                </div>
                                                <h4><a href="post1.html">Copa America: Luis Suarez from devastated US</a></h4>
                                            </div>
                                        </div>
                                        <div class="space-15"></div>
                                        <div class="border_black"></div>
                                        <div class="space-15"></div>
                                        <div class="single_post widgets_small">
                                            <div class="post_img">
                                                <div class="img_wrap">
                                                    <a href="#">
                                                        <img src="~/Themes/Newspark/assets/img/header/widget/tab2.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="single_post_text">
                                                <div class="meta2 meta_separator1">
                                                    <a href="#">TECHNOLOGY</a>
                                                    <a href="#">March 26, 2020</a>
                                                </div>
                                                <h4><a href="post1.html">Nancy Zhang a Chinese busy woman and Dhaka</a></h4>
                                            </div>
                                        </div>
                                        <div class="space-15"></div>
                                        <div class="border_black"></div>
                                        <div class="space-15"></div>
                                        <div class="single_post widgets_small">
                                            <div class="post_img">
                                                <div class="img_wrap">
                                                    <a href="#">
                                                        <img src="~/Themes/Newspark/assets/img/header/widget/tab3.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="single_post_text">
                                                <div class="meta2 meta_separator1">
                                                    <a href="#">TECHNOLOGY</a>
                                                    <a href="#">March 26, 2020</a>
                                                </div>
                                                <h4><a href="post1.html">U.S. Response subash says he will label regions by risk of…</a></h4>
                                            </div>
                                        </div>
                                        <div class="space-15"></div>
                                        <div class="border_black"></div>
                                        <div class="space-15"></div>
                                        <div class="single_post widgets_small">
                                            <div class="post_img">
                                                <div class="img_wrap">
                                                    <a href="#">
                                                        <img src="~/Themes/Newspark/assets/img/header/widget/tab4.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="single_post_text">
                                                <div class="meta2 meta_separator1">
                                                    <a href="#">TECHNOLOGY</a>
                                                    <a href="#">March 26, 2020</a>
                                                </div>
                                                <h4><a href="post1.html">Venezuela elan govt and opposit the property collect</a></h4>
                                            </div>
                                        </div>
                                        <div class="space-15 ldnane"></div>
                                        <div class="border_black ldnane"></div>
                                        <div class="space-15 ldnane"></div>
                                        <div class="single_post widgets_small ldnane">
                                            <div class="post_img">
                                                <div class="img_wrap">
                                                    <a href="#">
                                                        <img src="~/Themes/Newspark/assets/img/header/widget/tab5.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="single_post_text">
                                                <div class="meta2 meta_separator1">
                                                    <a href="#">TECHNOLOGY</a>
                                                    <a href="#">March 26, 2020</a>
                                                </div>
                                                <h4><a href="post1.html">Cheap smartphone sensor could help you old food safe</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="post3" class="tab-pane fade">
                                    <div class="widget tab_widgets mb30">
                                        <div class="single_post widgets_small">
                                            <div class="post_img">
                                                <div class="img_wrap">
                                                    <a href="#">
                                                        <img src="~/Themes/Newspark/assets/img/header/widget/tab1.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="single_post_text">
                                                <div class="meta2 meta_separator1">
                                                    <a href="#">TECHNOLOGY</a>
                                                    <a href="#">March 26, 2020</a>
                                                </div>
                                                <h4><a href="post1.html">Copa America: Luis Suarez from devastated US</a></h4>
                                            </div>
                                        </div>
                                        <div class="space-15"></div>
                                        <div class="border_black"></div>
                                        <div class="space-15"></div>
                                        <div class="single_post widgets_small">
                                            <div class="post_img">
                                                <div class="img_wrap">
                                                    <a href="#">
                                                        <img src="~/Themes/Newspark/assets/img/header/widget/tab2.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="single_post_text">
                                                <div class="meta2 meta_separator1">
                                                    <a href="#">TECHNOLOGY</a>
                                                    <a href="#">March 26, 2020</a>
                                                </div>
                                                <h4><a href="post1.html">Nancy Zhang a Chinese busy woman and Dhaka</a></h4>
                                            </div>
                                        </div>
                                        <div class="space-15"></div>
                                        <div class="border_black"></div>
                                        <div class="space-15"></div>
                                        <div class="single_post widgets_small">
                                            <div class="post_img">
                                                <div class="img_wrap">
                                                    <a href="#">
                                                        <img src="~/Themes/Newspark/assets/img/header/widget/tab3.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="single_post_text">
                                                <div class="meta2 meta_separator1">
                                                    <a href="#">TECHNOLOGY</a>
                                                    <a href="#">March 26, 2020</a>
                                                </div>
                                                <h4><a href="post1.html">U.S. Response subash says he will label regions by risk of…</a></h4>
                                            </div>
                                        </div>
                                        <div class="space-15"></div>
                                        <div class="border_black"></div>
                                        <div class="space-15"></div>
                                        <div class="single_post widgets_small">
                                            <div class="post_img">
                                                <div class="img_wrap">
                                                    <a href="#">
                                                        <img src="~/Themes/Newspark/assets/img/header/widget/tab4.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="single_post_text">
                                                <div class="meta2 meta_separator1">
                                                    <a href="#">TECHNOLOGY</a>
                                                    <a href="#">March 26, 2020</a>
                                                </div>
                                                <h4><a href="post1.html">Venezuela elan govt and opposit the property collect</a></h4>
                                            </div>
                                        </div>
                                        <div class="space-15 ldnane"></div>
                                        <div class="border_black ldnane"></div>
                                        <div class="space-15 ldnane"></div>
                                        <div class="single_post widgets_small ldnane">
                                            <div class="post_img">
                                                <div class="img_wrap">
                                                    <a href="#">
                                                        <img src="~/Themes/Newspark/assets/img/header/widget/tab5.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="single_post_text">
                                                <div class="meta2 meta_separator1">
                                                    <a href="#">TECHNOLOGY</a>
                                                    <a href="#">March 26, 2020</a>
                                                </div>
                                                <h4><a href="post1.html">Cheap smartphone sensor could help you old food safe</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>